.intro {
   display: table;
   width: 100%;
   min-height: 100%;
   padding: 50px 0;
   text-align: center;
   color: #fff;
   background: url(img/intro-bg.jpg) no-repeat bottom center scroll;
   background-color: #000;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;
}

.intro .intro-body {
   display: table-cell;
   vertical-align: middle;
}

.intro .intro-body .brand-heading {
   font-size: 20px;
}

.intro .intro-body .intro-text {
   font-size: 18px;
   margin: 0 0 10px;
}

@media(min-width:767px) {
   .intro {
      height: 100%;
      padding: 0;
   }
   .intro .intro-body .brand-heading {
      font-size: 50px;
   }
   .intro .intro-body .intro-text {
      font-size: 25px;
      margin: 0 0 30px;
   }
}

.btn-scroll {
   margin-top: 20px;
   padding: 0px 16px;
   font-size: 80px;
   color: #eee;
   -webkit-transition: background .3s ease-in-out;
   -moz-transition: background .3s ease-in-out;
   transition: background .3s ease-in-out;
}

.btn-scroll:hover {
   outline: 0;
   color: #eee;
   background: rgba(255, 255, 255, .2);
}

.btn-scroll:focus {
   outline: 0;
   color: #eee;
}

.btn-scroll i.animated {
   -webkit-transition-property: -webkit-transform;
   -webkit-transition-duration: 1s;
   -moz-transition-property: -moz-transform;
   -moz-transition-duration: 1s;
}

.btn-scroll:hover i.animated {
   -webkit-animation-name: pulse;
   -moz-animation-name: pulse;
   -webkit-animation-duration: 1.0s;
   -moz-animation-duration: 1.0s;
   -webkit-animation-iteration-count: infinite;
   -moz-animation-iteration-count: infinite;
   -webkit-animation-timing-function: linear;
   -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
   0 {
      -webkit-transform: scale(1);
      transform: scale(1);
   }
   50% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
   }
   100% {
      -webkit-transform: scale(1);
      transform: scale(1);
   }
}

@-moz-keyframes pulse {
   0 {
      -moz-transform: scale(1);
      transform: scale(1);
   }
   50% {
      -moz-transform: scale(1.2);
      transform: scale(1.2);
   }
   100% {
      -moz-transform: scale(1);
      transform: scale(1);
   }
}