<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GW2NET" version="1.0.0" targetFramework="net452" />
  <package id="GW2NET.Compression" version="1.0.0" targetFramework="net452" />
  <package id="GW2NET.Core" version="1.0.0" targetFramework="net452" />
  <package id="GW2NET.Newtonsoft" version="1.0.0" targetFramework="net452" />
  <package id="GW2NET.V1.Builds" version="1.0.0" targetFramework="net452" />
  <package id="GW2NET.V1.Colors" version="1.0.0" targetFramework="net452" />
  <package id="GW2NET.V1.Continents" version="1.0.0" targetFramework="net452" />
  <package id="GW2NET.V1.Events" version="1.0.0" targetFramework="net452" />
  <package id="GW2NET.V1.Files" version="1.0.0" targetFramework="net452" />
  <package id="GW2NET.V1.Floors" version="1.0.0" targetFramework="net452" />
  <package id="GW2NET.V1.Guilds" version="1.0.0" targetFramework="net452" />
  <package id="GW2NET.V1.Items" version="1.0.0" targetFramework="net452" />
  <package id="GW2NET.V1.Maps" version="1.0.0" targetFramework="net452" />
  <package id="GW2NET.V1.Recipes" version="1.0.0" targetFramework="net452" />
  <package id="GW2NET.V1.Skins" version="1.0.0" targetFramework="net452" />
  <package id="GW2NET.V1.Worlds" version="1.0.0" targetFramework="net452" />
  <package id="GW2NET.V1.WorldVersusWorld.Matches" version="1.0.0" targetFramework="net452" />
  <package id="GW2NET.V1.WorldVersusWorld.Objectives" version="1.0.0" targetFramework="net452" />
  <package id="GW2NET.V2.Builds" version="1.0.0" targetFramework="net452" />
  <package id="GW2NET.V2.Colors" version="1.0.0" targetFramework="net452" />
  <package id="GW2NET.V2.Commerce.Exchange" version="1.0.0" targetFramework="net452" />
  <package id="GW2NET.V2.Commerce.Listings" version="1.0.0" targetFramework="net452" />
  <package id="GW2NET.V2.Commerce.Prices" version="1.0.0" targetFramework="net452" />
  <package id="GW2NET.V2.Continents" version="1.0.0" targetFramework="net452" />
  <package id="GW2NET.V2.Files" version="1.0.0" targetFramework="net452" />
  <package id="GW2NET.V2.Items" version="1.0.0" targetFramework="net452" />
  <package id="GW2NET.V2.Maps" version="1.0.0" targetFramework="net452" />
  <package id="GW2NET.V2.Quaggans" version="1.0.0" targetFramework="net452" />
  <package id="GW2NET.V2.Recipes" version="1.0.0" targetFramework="net452" />
  <package id="GW2NET.V2.Skins" version="1.0.0" targetFramework="net452" />
  <package id="GW2NET.V2.Worlds" version="1.0.0" targetFramework="net452" />
  <package id="Moq" version="4.2.1502.0911" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net452" />
</packages>