<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GW2PAO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <dependentAssembly>
      <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
      <bindingRedirect oldVersion="4.5.0.0" newVersion="6.0.0.0" />
    </dependentAssembly>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Prism.SharedInterfaces" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Prism.PubSubEvents" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Locale" />
    </assemblyBinding>
  </runtime>
  <system.net>
    <connectionManagement>
      <add address="https://api.guildwars2.com" maxconnection="2147483647" />
    </connectionManagement>
  </system.net>
  <userSettings>
    <GW2PAO.Properties.Settings>
      <setting name="ZoneAssistantHeight" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="ZoneAssistantWidth" serializeAs="String">
        <value>225</value>
      </setting>
      <setting name="ZoneAssistantX" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ZoneAssistantY" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="EventTrackerHeight" serializeAs="String">
        <value>125</value>
      </setting>
      <setting name="EventTrackerWidth" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="EventTrackerX" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="EventTrackerY" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="IsLoggingEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EventNotificationX" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="EventNotificationY" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="DungeonTrackerHeight" serializeAs="String">
        <value>125</value>
      </setting>
      <setting name="DungeonTrackerWidth" serializeAs="String">
        <value>280</value>
      </setting>
      <setting name="DungeonTrackerX" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="DungeonTrackerY" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="WvWNotificationX" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="WvWNotificationY" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="WvWTrackerHeight" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="WvWTrackerWidth" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="WvWTrackerX" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="WvWTrackerY" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="TPCalculatorX" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="TPCalculatorY" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsZoneAssistantOpen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsEventTrackerOpen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsDungeonTrackerOpen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsWvWTrackerOpen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsTPCalculatorOpen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsOverlayIconVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OverlayIconX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OverlayIconY" serializeAs="String">
        <value>29</value>
      </setting>
      <setting name="IsClickthroughEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TeamspeakX" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="TeamspeakY" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="TeamspeakHeight" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="TeamspeakWidth" serializeAs="String">
        <value>225</value>
      </setting>
      <setting name="IsTeamspeakOpen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AreWindowsSticky" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FirstTimeRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CheckForUpdates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PriceNotificationX" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="PriceNotificationY" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="AreNotificationWindowBordersVisible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value />
      </setting>
      <setting name="PriceTrackerHeight" serializeAs="String">
        <value>125</value>
      </setting>
      <setting name="PriceTrackerWidth" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="PriceTrackerX" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="PriceTrackerY" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="IsPriceTrackerOpen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hotkeys" serializeAs="String">
        <value />
      </setting>
      <setting name="IsDungeonTimerOpen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DungeonTimerX" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="DungeonTimerY" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="DungeonTimerHeight" serializeAs="String">
        <value>110</value>
      </setting>
      <setting name="DungeonTimerWidth" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="AutoHideTitleBars" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsTaskTrackerOpen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TaskTrackerHeight" serializeAs="String">
        <value>125</value>
      </setting>
      <setting name="TaskTrackerWidth" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="TaskTrackerX" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="TaskTrackerY" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="AutoHideOverlayIconWhenGw2NotRunning" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoHideAllWindowsWhenGw2NotRunning" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoHideOverlayIconWhenGw2LosesFocus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoHideAllWindowsWhenGw2LosesFocus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EctoHelperX" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="EctoHelperY" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="IsEctoHelperOpen" serializeAs="String">
        <value>False</value>
      </setting>
    </GW2PAO.Properties.Settings>
  </userSettings>
</configuration>
