<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="trace" xsi:type="Trace"
            layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message} ${exception:format=ToString}"/>
    <target name="file" xsi:type="AsyncWrapper" >
      <target name="file" xsi:type="File"
              fileName="${basedir}/Logs/logfile.log"
              archiveFileName="${basedir}/Logs/log.{#}.txt"
              archiveEvery="Day"
              archiveNumbering="Date"
              maxArchiveFiles="7"
              concurrentWrites="false"
              layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message} ${exception:format=ToString}"/>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="trace" />
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>